@import url("https://fonts.google.com/specimen/Spartan");
@font-face {
  font-family: Spartan;
  font-weight: 400;
  src: url("../fonts/Spartan/static/Spartan-Regular.ttf");
}
@font-face {
  font-family: Spartan;
  font-weight: 500;
  src: url("../fonts/Spartan/static/Spartan-Medium.ttf");
}
@font-face {
  font-family: Spartan;
  font-weight: 700;
  src: url("../fonts/Spartan/static/Spartan-Bold.ttf");
}
:root {
  --color-1: hsl(300, 43%, 22%);
  --color-2: hsl(333, 80%, 67%);
  --color-3: hsl(303, 10%, 53%);
  --color-4: hsl(300, 24%, 96%);
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body #top-pattern, body #bottom-pattern {
  z-index: -1;
}
body #top-pattern {
  position: absolute;
  top: 0;
  left: 0;
}
body #bottom-pattern {
  position: absolute;
  bottom: 0;
  right: 0;
}
body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 4.5rem 2.2rem;
}
body .container .upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body .container .upper .upper-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .container .upper .upper-left h2 {
  font-size: 2.5rem;
  letter-spacing: 0;
  font-weight: var(--font-weight-bold);
  color: var(--color-1);
  text-align: center;
}
body .container .upper .upper-left p {
  padding: 0.3rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-3);
  line-height: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  text-justify: inter-word;
}
body .container .upper .upper-right {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
body .container .upper .upper-right ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
body .container .upper .upper-right ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--color-4);
  border-radius: 0.5rem;
}
body .container .upper .upper-right ul li > * {
  flex: 1;
}
body .container .upper .upper-right ul li .stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .container .upper .upper-right ul li .stars span.fa-star.checked {
  margin: 0 0.34rem;
  color: #e7880c;
}
body .container .upper .upper-right ul li .rate-text {
  margin-top: 1rem;
  text-align: center;
  font-weight: var(--font-weight-bold);
  color: var(--color-1);
  display: flex;
  align-items: center;
}
body .container .lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}
body .container .lower .card {
  margin-top: 1.125rem;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 0.5rem;
}
body .container .lower .card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
body .container .lower .card .card-header img {
  max-width: 3rem;
  height: auto;
  border-radius: 50%;
}
body .container .lower .card .card-header .info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1.5rem;
}
body .container .lower .card .card-header .info .name {
  font-weight: var(--font-weight-medium);
  color: var(--color-4);
}
body .container .lower .card .card-header .info .title {
  font-size: 0.85rem;
  font-weight: var(--font-weight-regular);
  color: var(--color-3);
}
body .container .lower .card .card-content {
  margin-top: 1.5rem;
  color: var(--color-4);
  font-size: 0.85rem;
  line-height: 1.5rem;
}
body .floating-container {
  position: sticky;
  bottom: 0;
  background-color: #333;
  padding: 2rem;
  opacity: 0.75;
  border-radius: 0.25rem;
}
body .floating-container.active {
  opacity: 1;
}
body .floating-container .attribution {
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-4);
}
body .floating-container .attribution a {
  color: #6f88eb;
}